/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    flex-direction: column; /* Para empilhar os elementos verticalmente em dispositivos móveis */
    align-items: center;
    margin-bottom: 20px;
}

#task {
    width: 100%; /* Preenche a largura do pai */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Adiciona espaço entre o campo de entrada e o botão */
}

button {
    width: 100%; /* Preenche a largura do pai */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0; /* Remover o preenchimento padrão da lista */
}

li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilo para a tarefa concluída */
li.done {
    text-decoration: line-through;
    background-color: #d3d3d3;
}

/* Remover margem inferior do último elemento da lista */
li:last-child {
    margin-bottom: 0;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px; /* Reduz o preenchimento para dispositivos móveis */
    }

    .task-input {
        margin-bottom: 10px; /* Reduz o espaço entre o campo de entrada e o botão */
    }
}
